[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
six = "*"
requests = "*"
beautifulsoup4 = "*"
pandas = "*"
html5lib = "*"
lxml = "*"
googlesearch-python = "*"

[dev-packages]

[requires]
python_version = "3.9"
