{% load static %}
<section>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="bg-light bg-pos-l py-6 px-4 px-lg-6 text-center rounded" data-bg-img="{% static 'images/bg/02.png' %}">
            <div class="mb-5">
              <h2><span class="font-w-4 d-block">Subscribe newsletter</span> now for a custom built</h2>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <div class="subscribe-form text-center">
                  <form id="mc-form" class="row mb-3" method="POST">
                    {% csrf_token %}
                    <div class="col-md">
                      <input type="text" value="" name="{{ form.name.name }}" class="name form-control border-0 shadow-sm rounded" id="mc-name" placeholder="Your Name" required="">
                      {% if form.name.errors %}
                        {% for i in form.name.errors %}
                          <small class="text-danger netrobe-form-error-small">{{i}}</small>
                        {% endfor %}
                      {% endif %}
                    </div>
                    <div class="col-md">
                      <input type="email" value="" name="{{ form.email.name }}" class="email form-control border-0 shadow-sm rounded mt-3 mt-md-0" id="mc-email" placeholder="Email Address" required="">
                      {% if form.email.errors %}
                        {% for i in form.email.errors %}
                          <small class="text-danger netrobe-form-error-small">{{i}}</small>
                        {% endfor %}
                      {% endif %}
                    </div>
                    <div class="col-md-auto">
                      <input class="btn btn-dark mt-3 mt-md-0" type="submit" name="subscribe" value="Subscribe Now">
                    </div>
                  </form>
                  <small class="text-dark">Get started for 1 Month free trial No Purchace required.</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>