{% extends 'Mobile/base.html' %}
{% load static %}
{% block pageContent %}

<!--hero section end--> 


<!--body content start-->

<div class="page-content">

<!--login start-->

<section class="register">
  <div class="container">
     <div class="row justify-content-center text-center">
      <div class="col-lg-8 col-md-12">
        <div class="mb-5">
              <h2><span class="font-w-4">Change your</span> Password</h2>
          <p class="lead">You can set a new password for your account here.</p>
        </div>
    </div>
</div>
    <div class="row">
      <div class="col-lg-8 col-md-10 ms-auto me-auto">
        <div class="register-form text-center">
          <form id="contact-form" method="post">
            {% csrf_token %}
            <div class="messages"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                    <input value="{% if form.current_password.value %}{{form.current_password.value}}{% endif %}" id="form_password" type="password" name="current_password" class="form-control" placeholder="Current Password" required="required" data-error="Current password is required.">
                    <div class="help-block with-errors"></div>
                    {% if form.current_password.errors %}
                        {% for i in form.current_password.errors %}
                        <small class="text-danger netrobe-form-error-small">{{i}}</small>
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                    <input id="form_password1" type="password" name="new_password" class="form-control" placeholder="New Password" required="required" data-error="New Password is required.">
                    <div class="help-block with-errors"></div>
                    {% if form.new_password.errors %}
                        {% for i in form.new_password.errors %}
                        <small class="text-danger netrobe-form-error-small">{{i}}</small>
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col">
                <button class="btn btn-primary mt-4">Update</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!--login end-->




<!--newsletter start-->

<!-- {% include 'Mobile/suscriber.html' %} -->

<!--newsletter end-->

</div>

<!--body content end--> 
{% endblock %}